{% extends "_template.html" %}
{% block content %}

<!--
  Boilerplate for the TrailheaDX 2017 workshop:
  "Rapid prototyping with the Design System Starter Kit and UI Kit"
  https://tdx-starter-kit.herokuapp.com/
-->


<!-- PAGE HEADER: https://www.lightningdesignsystem.com/components/page-headers/?variant=record-home -->
 <div class="slds-page-header">
  <div class="slds-media">
    <div class="slds-media__figure">
      <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
        <svg class="slds-icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#opportunity"></use>
        </svg>
      </span>
    </div>
    <div class="slds-media__body">
      <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="Rhode Corp - 80,000 Widgets">Maz Corp - 80,000 Widgets</h1>
      <p class="slds-text-body_small slds-line-height_reset">Mark Jaeckal • Unlimited Customer • 11/13/15</p>
    </div>
  </div>
</div>
<!-- /PAGE HEADER -->

<!-- PROGRESS INDICATOR: https://www.lightningdesignsystem.com/components/progress-indicator/?modifiers=.slds-is-active&variant=base -->
  <div class="slds-progress-bar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25" role="progressbar">
  <span class="slds-progress-bar__value" style="width: 25%;">
    <span class="slds-assistive-text">Progress: 25%</span>
  </span>
</div>
<!-- /PROGRESS INDICATOR -->

<!-- COLUMNS - already populated for you: https://www.lightningdesignsystem.com/utilities/grid/?example=regions-with-sizing&variant=grid -->
<div class="slds-grid slds-wrap slds-grid_pull-padded">

  <!-- COLUMN #1 -->
  <div class="slds-p-horizontal_large slds-size_2-of-3">

    <!-- TABS: https://www.lightningdesignsystem.com/components/tabs/?modifiers=.slds-is-active&variant=base -->
    
    <!-- ACTIVITY TIMELINE - replace "Item One Content": https://www.lightningdesignsystem.com/components/activity-timeline/?variant=base -->
     <div class="demo-only">
  <div class="slds-tabs_default">
    <ul class="slds-tabs_default__nav" role="tablist">
      <li class="slds-tabs_default__item slds-is-active" title="Item One" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">Item One</a></li>
      <li class="slds-tabs_default__item" title="Item Two" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Item Two</a></li>
      <li class="slds-tabs_default__item" title="Item Three" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">Item Three</a></li>
    </ul>
    <div id="tab-default-1" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">Item One Content</div>
    <div id="tab-default-2" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item">Item Two Content</div>
    <div id="tab-default-3" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-3__item">Item Three Content</div>
  </div>
</div>
    <!-- /TABS -->

  </div>
  <!-- /COLUMN #1 -->

  <!-- COLUMN #2 -->
  <div class="slds-p-horizontal_large slds-size_1-of-3">

    <!-- CARD: https://www.lightningdesignsystem.com/components/cards/?variant=base -->
      <!-- INSERT CODE HERE -->
    <!-- /CARD -->

  </div>
  <!-- /COLUMN #2 -->

</div>
<!-- /COLUMNS -->

{% endblock %}
